@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
  font-family: 'quarto';
  src: url('fonts/ufonts.com_quarto-bold.tff');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

div {
  display: block;
}

p {
  margin-bottom: 4em;

}
/*--header--*/

.portfolio {
  text-align: center;
  font-size: 16px;
  font-family: 'open-sans', sans-serif;
  height: 100%;
  margin: 0;

}

.portfolio-intro {
  height: 100%;
  position: relative;
}

.site-name-link {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.26em;
  font-weight: 700;
  padding-top: 20px;
  text-align: center;
  font-family: 'open-sans',sans-serif;
  color: #000;
}
  a {
    text-decoration: none;
  }

  h1 {
  font-style: normal;
  font-size: 45px;
  font-weight: normal;
  vertical-align: baseline;
  margin: 0;
  padding: 0;

}

  h2 {
  display: block;
  border: 0;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

  h3 {
    display: block;
    border: 0;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
  }

  .page-header {
  position: absolute;
  padding: 0, 20px;
  top: 38.5%;
  left:0;
  right:0;
}

  .single-page {
  font-size: 45px;
  font-family: 'quarto', serif;
  line-height: 1.3em;
  letter-spacing: 0.05em;

}

  .nav-content {
  width: 620px;
  max-width: 100%;
  margin: 40px auto;

}

  header-text {
  font-family: 'Open-Sans', sans-serif;
  font-size: 18px;
  color: #d0011b;
  font-weight: bold;
  margin: 0;
}

/**---Body--**/

  .case-items {
  max-width: 1150px;
  margin: -180px auto 0;
  padding: 40px;
  display: flex;
  flex-flow: row wrap;
}

  .section-header {
  font-family: 'open-sans',sans-serif;
  font-size: 176px;
  font-weight: 700;
  text-align: left;
  z-index: 10;
  position: relative;
  line-height: 0.6em;
  pointer-events: none;
  flex: 1 100%;
  letter-spacing: 0.03em;

}

.case-item {
  flex: 1 50%;
  text-align: left;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;;
  min-height: 445px;
  position: relative;
  overflow: hidden;
  margin: 0;

}

.project-item {
  position: relative;
  text-align: justify;
  width: 50%;
  margin: auto;
  top: -30%;
  display: block;

}

.project-page-text {
  font-family: 'opensans',sans-serif;
  font-size: 14px;
  letter-spacing: 0.15em;
  line-height: 1.6em;
  left: 0;
  right: 0;


}

.case-item-data {
  background-color: #146D70;
  color: #ffffff;
}

.case-item-product {
  background-color: #EBC9B9;
  color: #000000
}

.case-item-visual {
  background-color: #CAD8D7;
  color: #000000;
}

.case-item-data-0 {
  background-color: #FABB54;
  color: #000000;
}

.case-item-data-1 {
  background-color: #3AC4A5;
  color: #000000;
}

.case-item-product-0 {
  background-color: #5CA7B1;
  color: #000000;
}

.case-item-wide {
  text-align: center;
    flex: 1 100%;
}

.case-item-bg {
  animation: fade-In 0.6s ease-out;
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.case-item-header {
  min-height: 2em;
    margin-bottom: 1em;
    font: normal 62px/1.1 "quarto", serif;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateZ(0);
    position: relative;
    z-index: 10;
    letter-spacing: 0.05em;
}

.case-item-text {
  max-width: 75%;
    font-size: 12px;
    line-height: 1.8em;
    position: relative;
    z-index: 10;
    padding-top: 1em;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateZ(0);
    font-family: 'open-sans',sans-serif;
    letter-spacing: 0.07em;
    font-weight: lighter;
}

.case-item-text::before {
  content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: 0;
    height: 3px;
    background-color: currentColor;
    width: 60px;
}

.case-item-header-visual {
  margin-top: 0.9em;
    margin-bottom: 0.70em;
    min-height: initial;
}

.case-item-text-wide {
  max-width: 35%;
    font-size: 14px;
    line-height: 1.5em;
    position: relative;
    z-index: 10;
    padding-top: 1em;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateZ(0);
    font-family: 'open-sans',sans-serif;
    font-weight: 100;
    letter-spacing: 0.07em;
    margin: auto;
}

.case-item-text-wide::before {
  content: "";
    display: block;
    position: absolute;
    top: -10px;
    left:0;
    height: 3px;
    background-color: currentColor;
    width: 60px;
    margin: auto;
    right:0;
}

.case-item-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.contact {
  max-width: 1150px;
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: 0;
    padding: 40px;
}

.contact-info {
  color: #fff;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 55%;
    background-color: #1f4954;
    text-align: left;
    position: relative;
    height: 550px;
    box-sizing: border-box;
}

/*-footer-*/

.contact .case-item-header {
    text-decoration: none;
    display: block;
    margin-top: 10%;
    font-size: 55px;
}

.contact a {
    color: inherit;
}

.contact-pic {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: #e7e8ed;
}

/*-Annimate-*/

.btn-image {
  position: absolute;
  top: 0;
  right: 20px;
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 20px;
  padding-right: 25px;
  background-color: #000;
  color: #fff;
  font-size: 13px;
  transform-origin: 0 0;
  will-change: transform, opacity;
  transform: scaleY(0) translateZ(0);
  transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.33, 1);
  font-family: 'open-sans', sans-serif;

}

.case-item:hover .btn-image {
  transform: scaleY(1) translateZ(0);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.case-item:hover .case-item-header {
  transform: translate3d(0, -6px, 0);
}

.case-item:hover .case-item-text {
  transform: translate3d(0, 8px, 0);
}

.case-item:hover .case-item-text-wide {
  transform: translate3d(0, 8px, 0);
}

.case-item:hover .case-item-bg {
  transform:scale3D(1.04, 1.04, 1)
}

.site-name-link:hover {
  transition: color 0.2s ease-in-out;
  color: #c44736;
}

.imgs {
  width: 100%;
  margin-top: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
}


@media screen and (max-width: 480px){
  .site-name-link {
    font-size: 10px;
  }
}

@media screen and (max-width: 480px){
  .single-page{
    padding-bottom:50px
    }
  }

@media screen and (max-width: 480px){
  .page-header{
    font-size:20px;margin-right:20px;margin-left:20px
    }
  }

@media screen and (max-width: 480px){
  .section-header{
    font-size:78px
    }
  }

@media screen and (max-width: 600px){
  .section-header{
    font-size:88px
    }
  }

@media screen and (max-width: 900px){
  .case-items{
    padding-right:30px;padding-left:30px
    }
  }

@media screen and (max-width: 600px){
  .case-items{
    padding-right: 0; padding-left: 0
  }
}

@media screen and (max-width: 900px){
  .case-item{
    padding-top:40px;padding-left:35px;padding-right:35px
    }
  }

@media screen and (max-width: 800px){
  .case-item{
    flex:1 100%;min-height:initial
    }
  }

@media screen and (max-width: 480px){
  .case-item{
    padding-left:20px;padding-right:20px
    }
  }

@media screen and (max-width: 800px){
  .case-item-wide{
    min-height: initial; padding-bottom: 40px; text-align: left
    }
  }

@media screen and (max-width: 1000px){
  .case-item-header{
    font-size:56px
    }
  }

@media screen and (max-width: 900px){
  .case-item-header{
    font-size:50px;max-width:400px
    }
  .case-item-wide .case-item-header{
    max-width:initial
    }
  }

@media screen and (max-width: 480px){
  .case-item-header{
    font-size:42px
    }
  }

@media screen and (max-width: 800px){
  .case-item-wide .case-item-header{
    margin-top:0
    }
  }

@media screen and (max-width: 900px){
  .case-item-text,.case-item-wide .case-item-text{
    max-width:70%
    }
  }

@media screen and (max-width: 800px){
  .case-item-text,.case-item-wide .case-item-text{
    max-width:60%;padding-bottom:40px
    }
  }

@media screen and (max-width: 600px){
  .case-item-text,.case-item-wide .case-item-text{
    max-width:50%
    }
  }

@media screen and (max-width: 480px){
  .case-item-text{
    max-width:75%
    }
  }

@media screen and (max-width: 480px){
    .case-item-text-wide, .case-item-text-wide::before{
      max-width:75%; text-align: left; margin: 0
      }
    }

@media screen and (max-width: 600px){
    .case-item-text-wide, .case-item-text-wide::before{
      max-width:75%; text-align: left; margin: 0
      }
    }


@media screen and (max-width: 900px){
  .contact-info{
    padding-right:30px;padding-left:30px
    }
  }

@media screen and (max-width: 600px){
  .contact{
    padding-right:0;padding-left:0;padding-bottom:0
    }
  }

@media screen and (max-width: 900px){
  .contact{
    padding-right:0;padding-left:0;padding-bottom:0
    }
  }

@media screen and (max-width: 1200px){
  .contact{
    padding-right:0;padding-left:0;padding-bottom:0
    }
  }

@media screen and (max-width: 600px){
  .contact .case-item-header{
      font-size: 40px; flex: 1 100%
      }
    }

@media screen and (max-width: 800px){
  .contact-info{
    height:auto
    }
  }
@media screen and (max-width: 480px){
  .contact-info{
    padding-top:30px;padding-right:0px;padding-left:30px
    }
  }

@media screen and (max-width: 800px){
  .contact-pic{
    width:100%;
    left:-50px;
    padding-left:50px;
    padding-right: intial;
    height:400px;
    position:relative;
    display:block
    }
  }

@media screen and (max-width: 600px){
  .contact-pic{
    height:350px
    }
  }

@media screen and (max-width: 600px){
  .project-item{
    width: 70%;
    margin: auto;
    top: -30%;
  }
}

@media screen and (max-width: 600px){
  .project-page-text{
    letter-spacing: 0.1em
  }
}
